{% extends "core/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/allTask.css' %}">
{% endblock %}

{% block content %}

<div class="table-container">

    <div class="table-header">
        <h2>Task Details</h2>

        <a href="{% url 'addtask' %}" class="btn-add">
            + Add Task
        </a>
    </div>

    <table class="task-table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Action</th>
            <th>Date</th>
        </tr>

        {% for x in data %}
        <tr>
            <td>{{ x.title }}</td>
            <td>{{ x.description }}</td>
            <td>{{ x.priority }}</td>
            <td>{{ x.status }}</td>
            <td>{{ x.due_date }}</td>

            <td class="action-btns">
                <a href="{% url 'edit' x.id %}" class="btn-edit">✏️ Edit</a>
                <a href="{% url 'delete' x.id %}" class="btn-delete">🗑 Delete</a>
            </td>

        </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}